<form>
  <mat-form-field appearance="outline">
    <mat-label>Enter name</mat-label>
    <input type="text" matInput placeholder="enter name" />
  </mat-form-field>

  <mat-form-field class="mat3" appearance="outline">
    <mat-label>Enter College ID</mat-label>
    <input type="text" matInput placeholder="college ID" />
  </mat-form-field>


  <mat-form-field class="mat6" appearance="outline">
    <mat-label>Enter description</mat-label>
    <textarea matInput>
  </textarea>
  </mat-form-field>

  <br />

  <mat-form-field appearance="outline">
    <mat-label>Enter Student ID</mat-label>
    <input type="text" matInput placeholder="student ID" />
  </mat-form-field>

  <mat-form-field class="mat4" appearance="outline">
    <mat-label>Enter Roll No</mat-label>
    <input type="text" matInput placeholder="Roll No" />
  </mat-form-field>


  

  <br>

  <mat-form-field class="mat5" appearance="outline">
    <mat-label>Enter Depatment</mat-label>
    <input type="text" matInput placeholder="Department" />
  </mat-form-field>



  


  <button mat-raised-button color="primary" class="btn1">Submit</button>

</form>
